<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Snapogram</title>
  </head>
  <body>
    <h1>Snapogram</h1>

  <% if Snap.all.any? %>
    <% Snap.all.each do |snap| %>
      <%= image_tag snap.image.url(:medium) %>
      <h2><%= snap.caption %></h2>
    <% end %>
  <% else %>
    <h1>No snaps yet</h1>
    <% end %>


    <a href='<%= new_snap_path %>'>Add a snap</a>

  </body>
</html>
